@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components{
    .mycontainer{
        @apply container py-12 px-40 mx-auto 
    }
    .no-scrollbar::-webkit-scrollbar {
        display: none;
      }
      
      .no-scrollbar {
        -ms-overflow-style: none; /* IE and Edge */
        scrollbar-width: none; /* Firefox */
      }
}